language: node_js
node_js:
  - 'stable'
cache:
  directories:
    - node_modules
script:
  - npm run build
before_deploy: 'cd dist'
deploy:
  provider: firebase
  token:
    secure: 0lVuQfx+0fmENW+hkeMnBGUrGCEh8wkU0NMJTMpkjcNlGQ+FF1ZpR4IczThSl7sKmTUDkxclnnoI2nR8jrNPwAsvGyyqyA3JraEwEUOE0GC0jHyPE+Bv09UJfpbR0Dnix041wU24Hxgj2AIYT/kibBSso9H2anfidu5vMMj9zmAHQnKMF3DIkdMxyJW+kyUx4VUlZtNB9VGxCL7vwtq3jPt8f71hAqXHzy05sFBpnoMy+BnQVPEP4NJptGGz3KJ0VZ/YJiWf4mu80xuqCtKDLo3rXINyGMvw5T2ztBCB96cH214eoTEdMtSX50DqwPKZvKELRmmofrfCP6/SFa855FglnZjsyRRBmCXB6hKcqqvEBcQk9p5eRHOlepQtOPy+LWsieZixpV/krVKECzwpmrqTpgO3sBLgZUyS2QtRE/2VdVDbE4kqqRP1lNzPRMjyAWrRFhYsP1xz7GjNtJfKWBNtVMavbXDvRJdx+zHiN+2uVJ2ftx5c097cS6PsI3uZvcRSqt7qxPomT7UtPFwh2vMtyucBAfNuLJ7150fStcOW0M8KSYLgb40o1GD54veyYd5sTNMi2UeG9HOI2SOCukstYzhAKUT1eLi9eBBT+kMbxbsTdixW7zVPvykFoKrOwS8Mq+Y83RS3vI/exfCVW2pYNGpYcvQKp6osZnjmCss=
  project: 'lunch-and-learn-4f0c6'
  on:
    branch: master
